*{
  text-align: center;
}
.card{
  padding: 20px 0px 0 0;
  width: 300px;
  height: 200px;
  display: flex;
  background-color:#eb8c34;
  text-align: center;
}
.card button{
  border: none;
  width: 50px;
  position: relative;
  left:125px;
  background-color:#eb8c34;
  color: black;
  font-weight: 600;
  font-size: 26px;
}
.card span{
  font-weight: 800;
  font-size: 36px;

}
.c{
  height: 300px;
  width: 100%;
}
li{
  display: block;
  list-style: none;
  background-color: grey;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  z-index: 1;
  margin: 5px;
}
li a{
  text-decoration: none;
  color: wheat;

}

